body {
    text-align: center;
    background-color: #000;
    color: #fff;
}

.login {
    background-color: #004fa5;
    color: #fff;
    border: 0px solid #333333;
    border-radius: 50px;
    width: 60%;
    margin: auto;
}

input[type=text], input[type=password] {
    color: #fff;
    background: #007BFF;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #6400ff;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 250px;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.signup {
    border-radius: 25px;
    width: 20%;
    background: #AF4C50;
}
a, a:visited, a:hover {
    color: #fff;
}