html {
	height: 100%;
}
body{
	height: 100%;
	text-align: center;
	color: #fff;
}
a:hover, a:visited, a {
	color: #007BFF;
	text-decoration: none;
}
h1 {
	font-size: 150%;
}
div.block {
	width: 80%;
	height: 85%;
	border: 2px solid #fff;
	position: absolute;
	top: 10%;
	left: 10%;
}
div.block form input {
	width: 50%;

}